<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty scope="context"
                    name="APP_NAME"
                    source="spring.application.name"
                    defaultValue="unknown-service"/>


    <!-- Console appender -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "service": "${APP_NAME}",
                        "level": "%level",
                        "logger": "%logger",
                        "thread": "%thread",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>

                <mdc>
                    <includeMdcKeyName>correlationId</includeMdcKeyName>
                </mdc>

                <stackTrace/>

            </providers>

        </encoder>

    </appender>


    <!-- Root logger -->
    <root level="INFO">

        <appender-ref ref="CONSOLE"/>

    </root>


    <!-- Spring logs -->
    <logger name="org.springframework"
            level="INFO"/>


    <!-- Hibernate -->
    <logger name="org.hibernate.SQL"
            level="DEBUG"/>


</configuration>
