<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty
            scope="context"
            name="serviceName"
            source="spring.application.name"
            defaultValue="unknown-service"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "service":"${serviceName}",
                        "level":"%level",
                        "logger":"%logger",
                        "thread":"%thread",
                        "message":"%message",
                        "correlationId":"%X{correlationId}"
                        }
                    </pattern>
                </pattern>

                <stackTrace>
                    <fieldName>stack_trace</fieldName>
                </stackTrace>

            </providers>

        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.apache.kafka" level="INFO"/>

</configuration>
